
body {
  background-color: #ebddd0f8;
}

.container-list {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
  
}
.divider{
  margin-left: 20px;
  margin-right: 20px;
}

.navbar{
  min-height:50px;
}

.secondary-heading{
  padding: 2px 2px;
  margin-top: 10px;
  margin-left: 10px;
}

.tick-icon{
  padding-right: 10px;
}

.checkbox{
  padding-left: 2px;
  margin-left: 2px;
}

.title{
  padding: 1px 2px;
  margin-left: 10px;
}

ul li{
  display: inline;
}

p{
  margin-left: 25px;
  margin-bottom: 5px;
}

li.borderless {
  border: 0;
}

.time {
  margin-left: 25px;
}



